<article class="gallery-section">
  <div class="img-container">
    @if (activeGalleryItem()?.src) {
      <img class="actual-gallery-img" [src]="activeGalleryItem()?.src + '.jpg'" alt="product">
    }
    <button class="prev-next" (click)="onPrevClick()">
        <img src="/assets/images/icon-previous.svg" alt="prev button">
    </button>
    <button class="prev-next"(click)="onNextClick()">
        <img src="/assets/images/icon-next.svg" alt="next button">
    </button>
  </div>
  <div class="thumbs-container">
    @for (item of galleryItems(); track item; let index = $index) {
      <div class="img-thumb-container" [ngClass]="{ grayscale : activeId() == item.id }">
          <img class="thumb" (click)="setId(item.id)" [src]="item.src + '-thumbnail.jpg'" [alt]="'product-' + item.id">
      </div>
    }
  </div>
</article>